html {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.main {
    width: 100%;
    height: 100%;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
}
.wrapper:hover .mem__item:active .mem__img {
    opacity: 60%;
}
.mem {
    list-style-type: none;
}
.mem__input {
    display: none;
}
.mem__h2, .wrapper:hover .mem__item:active .mem__h2{
    color: blueviolet;
}
.mem__img {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.mem__icon_open,
.mem__icon_close {
    display: none;
    object-fit: contain;
}
.wrapper:hover .mem__icon_close {
    display: block;
}
.wrapper:hover .mem__h2 {
    color: black;
    transition: color linear 400ms;
}
.wrapper:hover .mem__item:hover .mem__icon_open {
    display:block;
    animation: zoom 1s;
}
.wrapper:hover .mem__item:hover .mem__icon_close {
    display: none;
}
.mem__item:hover .mem__img {
    display: block;
    animation: zoom 1s;
}
.mem__wrap {
    display: flex;
    column-gap: 1%;
    justify-content: space-between;
}
.wrapper:hover .mem__item:active .mem__img{
    background-color: aqua;
}
.mem__input:checked ~ .mem__img {
    display: block;
    animation: zoom 1s;
}
.mem__input:disabled ~ .mem__img {
    display: none;
}
.mem__input:checked ~ .mem__wrap .mem__h2 {
    color: black;
}
.wrapper:hover .mem__input:checked ~ .mem__wrap > .mem__icon_open {
    display: block;
    animation: zoom 1s;
}
.wrapper:hover .mem__input:checked ~  .mem__wrap > .mem__icon_close {
    display: none;
}
@keyframes zoom {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (min-width: 1920px) {
    .wrapper:hover {
        cursor: pointer;
    }
    .mem__item:hover {
        cursor: pointer;
    }
    .main__h1 {
        font-size: 4em;
    }
    .mem__h2, .wrapper:hover .mem__item:active .mem__h2{
        font-size: 3em;
    }
    .mem__icon_close, 
    .mem__icon_open {
        width: 5vw;
    }
    .mem__img {
        width: 30vw;
    }
    .wrapper {
        width: 60%;
        padding: 5%;
    }
}
@media screen and (min-width: 820px) {
    .main__h1 {
        font-size: 2em;
    }
    .mem__h2, .wrapper:hover .mem__item:active .mem__h2{
        font-size: 1em;
    }
    .mem__icon_close, 
    .mem__icon_open {
        width: 4vw;
    }
    .mem__img {
        width: 25vw;
    }
    .wrapper {
        width: 80%;
        padding: 4%;
    }
}
@media screen and (min-width: 820px) {
    .main__h1 {
        font-size: 2em;
    }
    .mem__h2, .wrapper:hover .mem__item:active .mem__h2{
        font-size: 1em;
    }
    .mem__icon_close, 
    .mem__icon_open {
        width: 4vw;
    }
    .mem__img {
        width: 25vw;
    }
    .wrapper {
        width: 80%;
        padding: 4%;
    }
}
@media screen and (min-width: 320px) {
    .main__h1 {
        font-size: 1.5em;
    }
    .mem__h2, .wrapper:hover .mem__item:active .mem__h2{
        font-size: 0.8em;
    }
    .mem__icon_close, 
    .mem__icon_open {
        width: 5vw;
    }
    .mem__img {
        width: 50vw;
    }
    .wrapper {
        width: 85%;
        padding: 3%;
    }
}